$('#followerslist').before('<div class="row" style="padding-top:1.5%;"><div class="span6 offset3"><div class="alert alert-success fade in"><button type="button" class="close" data-dismiss="alert">×</button><strong>Success!</strong> <%= params[:to] %> has been invited.</div></div></div>');
$('#emailModal').modal('toggle');
$("html, body").animate({ scrollTop: 0 }, 1000);