You've been invited to brandbuddee!
<br><br>
On brandbuddee you can discover interesting stories, share them, and earn exclusive rewards from the brands you love.
<br><br>
Take a look at this video to learn more about how to use brandbuddee: http://bit.ly/T2rijI
<br><br>
Click the link below to set up your account and get started
<br>
<a href="<%= @url + 'signup?invite=' + @invite_code %>"><h3 style="color:#7fc3e4;"><%= @url + 'signup?invite=' + @invite_code %></h3></a>

Have fun and don't hesitate to email us at info@brandbuddee.com if you have any questions :)