Hi,
<br><br>
We're excited to inform you that you've been invited to check out brandbuddee.com!

<br><br>

<span style="float:left;">Here's your invite link:</span>
<a href="<%= @url + '?invite=' + @invite_code %>"><h2 style="color:#7fc3e4;"><%= @url + '?invite=' + @invite_code %></h2></a>

We look forward to seeing you discover, share, and earn rewards like never before!
<br>

<br><br><br>
Thank you,<br>
BrandBuddee Team