You've been invited to brandbuddee!
<br><br>
On brandbuddee you can discover interesting stories, share them, and earn exclusive rewards from the brands you love. Earn points for every friend that clicks to view the story you are sharing. Get enough points and you get the reward.
<br><br>
Take a look at this video to learn more about how to use brandbuddee: http://www.youtube.com/watch?v=qz69Xh6NRTE&feature=plcp
<br><br>
Use the link below to join, set up your account, and get started
<br>
<a href="<%= @url + 'signup?invite=' + @invite_code %>"><h3 style="color:#7fc3e4;"><%= @url + 'signup?invite=' + @invite_code %></h3></a>

Have fun and don't hesitate to email us at info@brandbuddee.com if you have any questions :)