Hi, 
<br><br>
We're excited to inform you that you've been invited to check out brandbuddee.com! 
<br><br>
Once you get into the site, click on a story from a brand that interests you, share it straight into any social network or grab the link and post it within your favorite social network. Every one of your friends that clicks to check it out gets you points towards the listed reward. Keep checking back and sharing stories to earn more points or visit our "help" page to learn about how you can become more effective with brandbuddee and earn even more rewards! Be sure to set up your own buddee profile by clicking on the settings in the top right. Make sure you secure your unique username before somebody else does.
<br><br>
Have fun and don't hesitate to email us at info@brandbuddee.com if you have any questions. If you like us, please tell your friends :)
<br><br>
Click on the link below to join:
<br>
<a href="<%= @url + 'signup?invite=' + @invite_code %>"><h2 style="color:#7fc3e4;"><%= @url + 'signup?invite=' + @invite_code %></h2></a>