Hi,
<br><br>
We're excited to inform you that you've been personally invited to check out brandbuddee.com!

<br><br>

<span style="float:left;">Here's your invite link:</span>
<h2 style="color:#7fc3e4;"><%= @url + '?beta_invite= ' + @invite_code %></h2>

<br>
We look forward to seeing you discover, share, and earn rewards like never before!


<br><br><br>
Thank you,<br>
BrandBuddee Team