Hi<% unless @name.blank? %><%= ' ' + @name + ',' %><% else %><%= ',' %><% end %>
<br><br>
Click here to reset your brandbuddee password. The link will expire in 24 hours.
<br>
<a href="<%= @url + 'pw/reset/' + @reset_code %>"><%= @url + 'pw/reset/' + @reset_code %></a>
