Hi <%= @user.first_name %>,
<br><br>
You've just successfully earned a brandbuddee reward!

<br><br>

<span style="float:left;">Here's your redeem code:</span>
<h2 style="color:#7fc3e4;"><%= @redeem_code %></h2>

<b>Redeem Details:</b>
<br>
<%= @campaign.redeem_details %>
<br><br>
Thanks so much for trying out brandbuddee and we hope you enjoy your reward!

<br><br><br>
Thank you,<br>
BrandBuddee Team