/* line 5, ../../app/assets/stylesheets/profile.css.scss */
.profile-image {
  margin: 0 auto;
  width: 125px;
  display: block;
}

/* line 11, ../../app/assets/stylesheets/profile.css.scss */
.profile-side-header {
  text-align: center;
}

/* line 15, ../../app/assets/stylesheets/profile.css.scss */
.profile_campaign_thumbnails {
  height: 300px !important;
}

/* line 19, ../../app/assets/stylesheets/profile.css.scss */
.profile_campaign_link:hover {
  text-decoration: none;
}
