body {
    padding-top: 0;
}
#embed_widget {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}
#embed_widget h2.whats-new {
	font-size: 1.8em;
	line-height: 110%;
}
#embed_widget table.stats-top {
	width:100%;
	font-weight:700;
	font-size:1.6em;;
}
#embed_widget div.stats-top {
	padding-top: 2%;
	padding-bottom: 2%;
	border: 2px solid #55AB55;
	border-radius: 9px
}
#embed_widget div.divisor.divisor_services {
	margin-bottom: 5%;
	margin-top: 5%;
}
#embed_widget div.stats-rewards {
	border: 2px solid #55AB55;
    border-radius: 9px;
}
#embed_widget h3.rewards-text {
    font-size: 17px;
    line-height: 110%;
}
#embed_widget h3.rewards-text i {
	font-size: 1.75em;
    line-height: 50%;
    padding-right: 4%;
}
#embed_widget a.btn, .embed_widget button, .embed_widget input[type=submit] {
    font-weight: 700;
}
#embed_widget a.btn i {
    font-size: 1.2em;
    line-height: 60%;
}
#embed_widget h3.whats-new {
    font-size: 22px;
    line-height: 135%;
}
#redeemModal.website_embed_widget .modal-header {
	padding-top:1%;
	padding-bottom:0;
}
#redeemModal.website_embed_widget .modal-body {
	padding-top:0;
	padding-bottom:0;
}
#redeemModal.website_embed_widget .modal-footer {
	padding-top:1.5%;
	padding-bottom:1.5%;
}
#fb-embed-index {
    padding-top: 1%;
    padding-bottom: 2%}
#fb-embed-index h2.whats-new {
    font-size: 26px;
    line-height: 110%}
#fb-embed-index h3.whats-new {
    font-size: 22px;
    line-height: 135%}
#fb-embed-index h3.whats-new span {
    font-size: 17px;
}
#fb-embed-index div.stats-top {
    margin-left: 5%;
    border: 2px solid #55AB55;
    margin-right: 5%;
    border-radius: 9px;
}
#fb-embed-index div.stats-rewards {
    border: 2px solid #55AB55;
    border-radius: 9px;
}
#fb-embed-index div.divisor {
    margin-top: 4%;
    margin-bottom: 4%}
#fb-embed-index img {
    max-width: 400px;
    max-height: 200px;
}
#fb-embed-index h3.rewards-text {
    font-size: 17px;
    line-height: 100%}
#fb-embed-index h3.rewards-text i {
    font-size: 1.75em;
    line-height: 50%}
#fb-embed-index a.btn {
    font-weight: 700;
}
#fb-embed-index a.btn i {
    font-size: 1.2em;
    line-height: 60%}
.accordion-heading.alt-accordion {
    background: #fff url(/assets/campaign_tasks_toggle.png) no-repeat right 10px;
}
.completed-task-background {
	background-color: #5DB1DF;
}
.accordion-group {
    margin-bottom: -8%}
#fb-embed-index ul.fb-invite-fb {
    list-style: none;
    margin-left: 2%}
#fb-embed-index ul.fb-invite-fb li {
    margin-top: 2%}