body {
	padding-top:0;
}
#embed_widget {
	/*margin: 10px auto;*/
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom:0;
	padding-top: 0;
	overflow: hidden;
	color:#4F4948;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#embed_widget h1 {
	font-size: 1.5em;
	line-height: 100%;
}
#embed_widget h2 {
	text-align: left;
	font-size: 1.25em;
	line-height: 110%;
}
#embed_widget h2 span {
	text-align: left;
	font-size: 1em;
	font-weight: normal;
}
#embed_widget img {
	max-width: 400px;
	max-height: 200px;
}
#embed_widget p {
	font-size:1.4em;
	margin-top:4%;
	font-weight:700;
}
#embed_widget p i {
	color:#7EC1E1;
	font-size:1.4em;
	line-height:40%;
}
#embed_widget p span {
	color:#7EC1E1;
	margin-left:2%;
}
a.embed_widget_footer {
	color:#4F4948;
	text-decoration: none;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
}
a.embed_widget_footer:hover {
	color:#3AA1BF;
}
a.embed-widget-tell-more {
	text-decoration: none;

}
a.embed-widget-tell-more p {
	color:#4F4948;
}
#fb-embed-index {
	padding-top: 1%;
	padding-bottom: 2%;
}
#fb-embed-index h2.whats-new {
	font-size: 26px;
	line-height: 110%;
}
#fb-embed-index h3.whats-new {
	font-size: 22px;
	line-height: 135%;
}
#fb-embed-index h3.whats-new span {
	font-size: 17px;
}
#fb-embed-index div.stats-top {
	margin-left: 5%;
	border: 2px solid #55AB55;
	margin-right: 5%;
	border-radius: 9px;
}
#fb-embed-index div.stats-rewards {
	border: 2px solid #55AB55;
	border-radius: 9px;
}
#fb-embed-index div.divisor {
	margin-top:4%;
	margin-bottom:4%;
}
#fb-embed-index img {
	max-width: 400px;
	max-height: 200px;
}
#fb-embed-index h3.rewards-text {
	font-size: 17px;
	line-height: 100%;
}
#fb-embed-index h3.rewards-text i {
	font-size:1.75em;
	line-height: 50%;
}
#fb-embed-index a.btn {
	font-weight:700;
}
#fb-embed-index a.btn i {
	font-size: 1.2em;
	line-height: 60%;
}
.accordion-heading.alt-accordion {
	background: #fff url(/assets/campaign_tasks_toggle.png) no-repeat right 10px;
}
.accordion-group {
	margin-bottom: -8%;
}
#fb-embed-index ul.fb-invite-fb {
	list-style: none;
}
#fb-embed-index ul.fb-invite-fb.pull-left {
	margin-left: 2%;
}
#fb-embed-index ul.fb-invite-fb.pull-right {
	margin-right: 2%;
}
#fb-embed-index ul.fb-invite-fb li {
	margin-top: 2%;
}
