<div class="container">

	<div class="span5 well complete_email">

		<h2>Email address</h2>

		<% if flash[:notice].nil? %><% else %>
	        <div class="alert alert-info">
	          <button class="close" data-dismiss="alert">×</button>
	          <%= flash[:notice] %>
	        </div> <!-- .alert -->
	    <% end %>

		<p>Please enter your email to continue to your account</p>

		<%= form_for @user, :url => {:controller => 'users', :action => 'complete_email_update'} do |f| %>

			<div class="complete_email_field">
	          <%= f.text_field :email, :name=>'email', :class=>'email_text_field' %>
	          <%#= link_to "Submit", {:controller=>'users', :action=>'complete_email_update'}, :class => 'btn btn-success', :id => 'complete_email_update', :value => '' %>
	        </div> <!-- .complete_email_field -->
        	<%= f.submit 'Submit', :class=>"btn btn-success", :style=>'margin-bottom:10px;' %>

		<% end %>
	
	</div>

</div>

<script type="text/javascript">
	$(".complete_email_field").find('input').val('');
</script>