<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse" title="sweepstakes contests giveaways brandbuddee">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/admin" title="sweepstakes contests giveaways brandbuddee"> <!-- <img alt="brandbuddee" src="/img/admin/logo20.png" /> --> <span class="hidden-phone"><b>brandbuddee</b> admin</span></a>
								
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						<li class="dropdown hidden-phone">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#" title="sweepstakes contests giveaways brandbuddee">
								<i class="icon-warning-sign icon-white"></i> <span class="label label-important hidden-phone"></span> <span class="label label-success hidden-phone">0</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li>
									<span class="dropdown-menu-title">You have 0 notifications</span>
								</li>	

                                <li>
                            		<a class="dropdown-menu-sub-footer" title="sweepstakes contests giveaways brandbuddee">View all notifications</a>
								</li>	
							</ul>
						</li>
						<!-- start: Notifications Dropdown -->
						<li class="dropdown hidden-phone">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#" title="sweepstakes contests giveaways brandbuddee">
								<i class="icon-tasks icon-white"></i> <span class="label label-warning hidden-phone">0</span>
							</a>
							<ul class="dropdown-menu tasks">
								<li>
									<span class="dropdown-menu-title">You have 0 tasks in progress</span>
                            	</li>

								<li>
                            		<a class="dropdown-menu-sub-footer" title="sweepstakes contests giveaways brandbuddee">View all tasks</a>
								</li>	
							</ul>
						</li>
						<!-- end: Notifications Dropdown -->
						<!-- start: Message Dropdown -->
						<li class="dropdown hidden-phone">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#" title="sweepstakes contests giveaways brandbuddee">
								<i class="icon-envelope icon-white"></i> <span class="label label-success hidden-phone">0</span>
							</a>
							<ul class="dropdown-menu messages">
								<li>
									<span class="dropdown-menu-title">You have 0 messages</span>
								</li>	

								<li>
                            		<a class="dropdown-menu-sub-footer" title="sweepstakes contests giveaways brandbuddee">View all messages</a>
								</li>	
							</ul>
						</li>
						<!-- end: Message Dropdown -->
						<li>
							<a class="btn" href="#" title="sweepstakes contests giveaways brandbuddee">
								<i class="icon-wrench icon-white"></i>
							</a>
						</li>
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#" title="sweepstakes contests giveaways brandbuddee">
								<i class="icon-user icon-white"></i>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#" title="sweepstakes contests giveaways brandbuddee"><i class="icon-user"></i> Profile</a></li>
								<li><a href="/signout" title="sweepstakes contests giveaways brandbuddee"><i class="icon-off"></i> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->