<footer>
	<p>
		<span style="text-align:left;float:left">&copy; <a href="http://brandbuddee.com" target="_blank">brandbuddee</a> 2012</span>
<!-- 				<span style="text-align:right;float:right">Powered by: <a href="#">rain</a></span> -->
	</p>

</footer>