<!-- start: Main Menu -->
<div class="span2 main-menu-span">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
			<li><a title="sweepstakes contests giveaways brandbuddee" href="/admin"><i class="icon-home icon-white"></i><span class="hidden-tablet"> Dashboard</span></a></li>
			<li><a title="sweepstakes contests giveaways brandbuddee" href="/admin/users"><i class="fa-icon-group icon-white"></i><span class="hidden-tablet"> Users</span></a></li>
			<li><a title="sweepstakes contests giveaways brandbuddee" href="/admin/campaigns"><i class="fa-icon-bullhorn icon-white"></i><span class="hidden-tablet"> Campaigns</span></a></li>
			<li><a title="sweepstakes contests giveaways brandbuddee" href="/admin/brands"><i class="fa-icon-bookmark icon-white"></i><span class="hidden-tablet"> Brands</span></a></li>
			<li><a title="sweepstakes contests giveaways brandbuddee" href="/admin/categories"><i class="fa-icon-folder-open icon-white"></i><span class="hidden-tablet"> Categories</span></a></li>
			<li><a title="sweepstakes contests giveaways brandbuddee" href="/admin/redeems"><i class="fa-icon-barcode icon-white"></i><span class="hidden-tablet"> Redeems</span></a></li>
			<li><a title="sweepstakes contests giveaways brandbuddee" href="/admin/locations"><i class="fa-icon-screenshot icon-white"></i><span class="hidden-tablet"> Locations</span></a></li>
		</ul>
	</div><!--/.well -->
</div><!--/span-->
<!-- end: Main Menu -->