<footer>
	<p>
		<span style="text-align:left;float:left">&copy;2012 <a href="http://brandbuddee.com">brandbuddee</a></span>
		<span style="text-align:right;float:right"><i class="icon-phone"></i> <a href="tel:3609201637">360 920 1637</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-envelope-alt"></i> <a href="mailto:info@brandbuddee.com" target="_blank">info@brandbuddee.com</a></span>
	</p>
</footer>