<!-- Begin: Header -->
<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a title="sweepstakes contests giveaways brandbuddee" class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a title="sweepstakes contests giveaways brandbuddee" class="brand" href="<%= root_url %>" title="Sweepstakes Contests Giveaways brandbuddee"><%= image_tag "/assets/brandbuddee-logo-sm.png", alt: "sweepstakes-contests-giveaways-brandbuddee", title: "Sweepstakes Contests Giveaways brandbuddee", size: "144x27", style: "margin-top:-5%;margin-left:5%;" %></a>
							
			<!-- start: Header Menu -->
			<div class="nav-no-collapse header-nav">
				<ul class="nav pull-right">
					<li>
						<a title="sweepstakes contests giveaways brandbuddee" class="btn" href="/brands/profile" style="text-shadow:none;color:#aaa;">
							Brand: <%= @brand.name unless @brand.name.nil? %>
						</a>
					</li>
					<!-- start: User Dropdown -->
					<li class="dropdown">
						<a title="sweepstakes contests giveaways brandbuddee" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-user icon-white"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a title="sweepstakes contests giveaways brandbuddee" href="/brands/profile"><i class="icon-user"></i> Profile</a></li>
							<li><a title="sweepstakes contests giveaways brandbuddee" href="/brands/logout"><i class="icon-off"></i> Logout</a></li>
						</ul>
					</li>
					<!-- end: User Dropdown -->
				</ul>
			</div>
			<!-- end: Header Menu -->
			
		</div>
	</div>
</div>
<!-- End: Header -->
