<footer>
    <div class="container" style="margin-bottom:20px;">
      <div class="row">
        <div class="span4">
          <h3>brandbuddee</h3>
          <ul>
            <li><a title="sweepstakes contests giveaways brandbuddee" href="/brands" title="" class="text-glow" style="color:#7EC1E1;">Brands</a></li>
            <% if current_user %>
              <li><a title="sweepstakes contests giveaways brandbuddee" href="http://brandbuddee.tumblr.com" target="_blank" style="color:#FFFFFF;">Blog</a></li>
            <% else %>
              <li><a title="sweepstakes contests giveaways brandbuddee" href="/signup" title="" style="color:#C7E478;">Signup</a></li>
            <% end %>
            
<!--             <li><a title="sweepstakes contests giveaways brandbuddee" href="#" title="">Brands</a></li> -->
            <li><a title="sweepstakes contests giveaways brandbuddee" href="/about" title="" style="color:#FFFFFF;">About</a></li>
            <li><a title="sweepstakes contests giveaways brandbuddee" href="/terms" title="" style="color:#FFFFFF;">Terms</a></li>
            <li><a title="sweepstakes contests giveaways brandbuddee" href="/contact" title="" style="color:#FFFFFF;">Contact</a></li>
            <li><a title="sweepstakes contests giveaways brandbuddee" href="/privacy" title="" style="color:#FFFFFF;">Privacy</a></li>
          </ul>
        </div>
        <div class="span4 social-networks">
          <h3>Stay in touch</h3>
          <p>Stay in touch on social networks</p>
          <a title="sweepstakes contests giveaways brandbuddee" target="_blank" href="http://facebook.com/brandbuddee" title="Follow us on Facebook" class="icon-facebook"></a>
          <a title="sweepstakes contests giveaways brandbuddee" target="_blank" href="http://twitter.com/brandbuddee" title="Follow us on Twitter" class="icon-twitter"></a>
          <a title="sweepstakes contests giveaways brandbuddee" target="_blank" href="https://plus.google.com/107324931903159252628" title="Follow us on Google Plus" class="icon-google-plus"></a>
<!--           <a title="sweepstakes contests giveaways brandbuddee" href="#" title="Follow us on Google Plus" class="icon-github"></a> -->
          <a title="sweepstakes contests giveaways brandbuddee" target="_blank" href="http://pinterest.com/brandbuddee" title="Follow us on Pinterest" class="icon-pinterest"></a>
        </div>
        <div class="span4">
          <h3>Newsletter</h3>
          <p>Subscribe to our monthly newsletter and be the first to know about our news and special deals!</p>

          <%= form_tag url_for(:controller => 'welcome', :action => 'create'), :id => "subscribe_footer", :class => "subscribe_form_footer", :remote => true do %>
              <%= text_field_tag :email, nil, :id =>"subscribe_footer_field", :class => "", :placeholder=>"Enter your Email" %>
              <%= hidden_field_tag(:link, @link) %>
              <%= submit_tag "Ok", :class=>"btn" %>
            
          <% end %>
          <div class="message"></div>

        </div> <!-- .span4 -->
      </div> <!-- end .row -->
    </div> <!-- end .container -->

    <div id="footer-extra">
      <div class="container">
        <div class="row">
          <div class="span4">
            &copy; 2013
          </div>
          <div class="span4">
            <i class="icon-phone" style="padding-right:2%;"></i>
            <a title="sweepstakes contests giveaways brandbuddee" href="tel:3609201637" title="Call brandbuddee" style="color:#999;text-decoration:none;">360 920 1637</a>
          </div>
          <div class="span4">
            <i class="icon-envelope" style="padding-right:2%;"></i>
            <a title="sweepstakes contests giveaways brandbuddee" href="mailto:info@brandbuddee.com" title="Email info@brandbuddee.com" target="_blank" style="color:#999;text-decoration:none;">info@brandbuddee.com</a>
          </div>
        </div> <!-- end .row -->    
      </div> <!-- end .container -->    
    </div>

  </footer>