<div class="footer_style">
    <div class="container">
        <div class="unit-bg">
            <div class="unit footer">
                <ul class="pull-right">
                    <li><a href="/about">About</a></li>
                    <li><a href="/terms">Terms</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
                <span class="copyright">© 2012 BrandBuddee. All rights reserved.</span>
            </div>
        </div>
    </div> <!-- .container -->
</div>