<div class="navbar navbar-static-top">
  <div class="container">
      <div class="navbar-form well pull-right unit-bg" style="margin-bottom:0;">
          <div class="login-input pull-left">
              <div class="alert alert-info" style="margin-bottom:0;">Welcome to BrandBuddee!</div>
          </div>
          <ul class="signup nav pull-right">


                  <% if current_user %>
                    <div class="btn-group pull-right" style="padding-right:0;">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> <%= current_user.email %>
                        <span class="caret"></span>
                      </a>

                      <ul class="dropdown-menu">
                        <li style="padding-top:7px;"><a href="/profile/settings"><i class="icon-user"></i> Profile Settings</a></li>
                    <li><a href="/account/settings"><i class="icon-cog"></i> Account Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="/signout"><i class="icon-off"></i> Sign Out</a></li>
                      </ul>
                    </div>
                
                <% else %>
                 <div class="btn-group pull-right">
                  <a rel="external" href="/login" class="login btn"><i class="icon-lock"></i> Login</a>
                 </div>
                <% end %>
          </ul>
      </div> <!-- .navbar-form -->
  </div> <!-- .container -->
</div> <!-- .navbar -->