<div class="span12">
    <h2 style="text-align:center">Invite Your Friends To Earn Rewards on brandbuddee</h2>
    <div style="text-align:center;">             
        <%= link_to(image_tag("email.png", :size => "230x44", :alt => "seattle-rewards", :title => "Tell Friends by Email"), "/invite/email") %>
        <%= link_to(image_tag("gmail.png", :size => "230x44", :alt => "seattle-rewards", :title => "Tell Friends by Gmail"), "/contacts/gmail") %>
        <%= link_to(image_tag("yahoo.png", :size => "230x44", :alt => "seattle-rewards", :title => "Tell Friends by Yahoo"), "/contacts/yahoo") %>
    </div><!-- /Social Images -->
</div><!-- /span12 -->