<div class="span3">

    <div class="well unit-bg">
        <ul class="nav nav-list">
            <li <% if @static == 'about' %>class="active"<% end %>><a href="/about">About Us</a></li>
            <li <% if @static == 'terms' %>class="active"<% end %>><a href="/terms">Terms of Use</a></li>
            <li <% if @static == 'privacy' %>class="active"<% end %>><a href="/privacy">Privacy Policy</a></li>
            <li <% if @static == 'contact' %>class="active"<% end %>><a href="/contact">Contact Us</a></li>
            <li class="divider"></li>
            <li <% if @static == 'help' %>class="active"<% end %>><a href="/support/help"><i class="icon-question-sign"></i>&nbsp;Help</a></li>
        </ul> <!-- ul .nav nav-list -->
    </div> <!-- .well .unit-bg -->

</div> <!-- .span3 -->