<div class="span3">
	<div class="well sidebar-nav">

		<ul class="nav nav-list">
          <li class="nav-header">Profile Settings</li>
          <li <% if @static == 'profile_settings' %>class="active"<% end %>><a href="/profile/settings">Profile Information</a></li>
          <li <% if @static == 'username_settings' %>class="active"<% end %>><a href="/profile/username">Username</a></li>
          <li class="nav-header">Account Settings</li>
          <li <% if @static == 'account_settings' %>class="active"<% end %>><a href="/account/settings">Edit Account</a></li>
          <% if current_user.provider.nil? %>
	          <li <% if @static == 'password_settings' %>class="active"<% end %>><a href="/account/password/settings">Password</a></li>
          <% end %>
        </ul>
		
	</div> <!-- .well sidebar-nav -->
</div> <!-- .span3 -->