<div class="span3">

    <div class="well unit-bg">
        <ul class="nav nav-list">
            <li <% if @static == 'about' %>class="active"<% end %>><a title="sweepstakes contests giveaways brandbuddee" href="/tell-me-more">How it Works</a></li>
            <li <% if @static == 'terms' %>class="active"<% end %>><a title="sweepstakes contests giveaways brandbuddee" href="/terms">Terms of Use</a></li>
            <li <% if @static == 'privacy' %>class="active"<% end %>><a title="sweepstakes contests giveaways brandbuddee" href="/privacy">Privacy Policy</a></li>
            <li <% if @static == 'contact' %>class="active"<% end %>><a title="sweepstakes contests giveaways brandbuddee" href="/contact">Contact Us</a></li>
            <li class="divider"></li>
            <li <% if @static == 'faq' %>class="active"<% end %>><a title="sweepstakes contests giveaways brandbuddee" href="/faq">FAQ</a></li>
            <li <% if @static == 'help' %>class="active"<% end %>><a title="sweepstakes contests giveaways brandbuddee" href="/support/help">Help</a></li>
        </ul> <!-- ul .nav nav-list -->
    </div> <!-- .well .unit-bg -->

</div> <!-- .span3 -->