<div class="container">
	<div class="row">
		<% if @continue == true %>
			<% if (!@result.nil? && @result["page"]["admin"] == true) || params[:admin] == "true" %>
				<a href="/fb-embed-admin<%= "?page_id=#{@page_id}&liked=#{@liked}&admin=#{@admin}" %>" class="btn btn-info" style="font-weight:700;margin-bottom:1%;"><i class="icon-share-alt"></i> Continue to Embed Widget</a>
			<% end %>
				<%= image_tag "likegate.png", size: "800x400", alt: "brandbuddee-seattle-rewards", title: "brandbuddee Seattle Rewards" %>
		<% else %>
			<div class="span8 offset2">
				<div class="well well-large text-center" id="fb-embed-index">
					<h2><%= @error %></h2>
				</div>
			</div>
		<% end %>
	</div>
</div>
