$(".message").html('<div id="flash_notice" class="alert alert-info"><%= escape_javascript(flash[:notice]) %></div>').hide().fadeIn('fast');
$("#subscribe")[0].reset();

var notice = $(".message").text()
if (notice == "You're already signed up!")
  {	
		$(".message").html('');
		$(".subscribe_wrap").animate({
		       right: '+=30px'
		    }, { duration: 600, queue: false });
	  $(".subscribe_wrap").fadeOut(600);
	
	  $("#share_box").html('<%= escape_javascript(render(:partial => 'share_message')) %>');
	  $("#share_title").html('Welcome Back!');
	  $("#share_message").html('<h4>You are already in line for our early beta.</h4>');
		setTimeout(function(){
			$("#share").animate({
						 //right: '-=75px',
			       right: '+=75px'
			    }, { duration: 600, queue: false });
		  $("#share").fadeIn(600);
		},600);
		
  }
else if (notice == "You're on the beta list!")
  {	
		$(".message").html('');
		$(".subscribe_container").animate({
		       right: '+=30px'
		    }, { duration: 600, queue: false });
	  $(".subscribe_wrap").fadeOut(600);
	
	  $("#share_box").html('<%= escape_javascript(render(:partial => 'share_message')) %>');
	  $("#share_title").html('Thanks for signing up!');
	  $("#share_message").html('<h4>You are now in line for our early beta.</h4>');
	  setTimeout(function(){
			$("#share").animate({
						 //right: '-=75px',
			       right: '+=75px'
			    }, { duration: 600, queue: false });
		  $("#share").fadeIn(600);
		},600);
  }