$(".message").html('<div class="alert alert-info span3 subscribe_footer_msg"><%= escape_javascript(flash[:notice]) %></div>').hide();
$(".message").css('top', '-14px');
$("#subscribe_footer_field").val('');


	$(".message").animate({
	       top: '+=10px'
	    }, { duration: 300, queue: false });
  	$(".message").fadeIn(300);

