<%= render 'shared/new_header' %>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>


<div class="container" style="margin-top:105px;background:rgba(255,255,255,0.6);">

	

	<% if flash[:notice].nil? %><% else %>
		<div class="alert alert-info">
		  <button class="close" data-dismiss="alert">×</button>
		  <%= flash[:notice] %>
		</div> <!-- .alert -->
	<% end %>


    <div class="row">
        <div class="span3">

            <div class="well unit-bg">
                <ul class="nav nav-list">
                    <li><a href="/dashboard"><i class="icon-asterisk"></i>&nbsp;Earn Rewards</a></li>
                    <li><a href="#"><i class="icon-headphones"></i>&nbsp;Your Rewards</a></li>
                    <li><a href="#"><i class="icon-briefcase"></i>&nbsp;Redeem</a></li>
                    <li><a href="#"><i class="icon-tag"></i>&nbsp;Past Rewards</a></li>
                    <li class="divider"></li>
                    <li><a href="/support/help"><i class="icon-question-sign"></i>&nbsp;Help</a></li>
                </ul>
            </div>

        </div>

        <div class="span9">

            <h3>Support Help</h3>

            <div class="hero-unit" style="padding:30px 60px;">
                <h2>Welcome to brandbuddee!</h2>

                <p>The general premise of brandbuddee is to discover cool stories, share them with your friends, and earn rewards. For every story campaign you find interesting, you can share it to start earning points towards the prize or reward listed with that campaign. Let’s get started!</p>
            </div> <!-- .hero-unit -->

            <span class="support_help_sections">
                <legend>Getting set-up</legend>
                <p>If you’re reading this, you must have signed-up for brandbuddee already. Now what you’ll want to do is one of several things</p>

                    <p class="offset1"><b>Customize your profile</b>- Click on “profile settings” under the tab on the top right. Upload your favorite pictue and include any other relevant information you’d like to share. In later versions, you’ll be able to better identify customized reward campaigns. Brandbuddee also limits the city that you can participate in, so make sure you list a city that you’d like to participate in, otherwise you won’t be able to participate in brandbuddee rewards campaigns.</p>

                    <p class="offset1"><b>Choose a username</b>- Click on the “username” tab within “profile settings”  and enter a custom username for yourself</p>
            </span> <!-- .support_help_sections -->

            <span class="support_help_sections">
                <legend>Discovering a story campaign</legend>
                <p>Hit the brandbuddee logo at any time or simply click on the “earn rewards” link found on the navigation bar on the left or top of the page. Click on an area of interest in which you would like to earn rewards and discover story campaigns towards the top of the page. Currently, brandbuddee only supports 10 lifestyle categories. Upon clicking on an interest category, a list of story campaigns will pull up. You can revert back to the full list at anytime by clicking on the “earn rewards” link.</p>
            </span> <!-- .support_help_sections -->

            <span class="support_help_sections">
                <legend>Sharing a story campaign to earn rewards</legend>
                <p>
                    After finding a story campaign on the earn rewards dashboard (The boxes with a description and photograph that appear towards the bottom of the page) that interests you, click on the green “view” button to see more details about it. Most story campaigns will tell you what it is and what the reward is on the main dashboard page before you click through to “view” the campaign. 
                </p>

                <p>
                    The ability to earn rewards for participating are determined by several things:
                </p>

                <p class="offset1">
                    <b>Points</b>- To unlock a reward you must earn a predetermined level of points, this point minimum will be featured on the “campaign page” and the main dashboard view. For every person that *clicks* on the story campaign that you share on social media gets you one point. To reiterate, one click=one point. If a campaign requires ten points to unlock the reward, then you need ten clicks to redeem it.
                </p> 

                <p class="offset1">
                    <b>Timing</b>- Each and every campaign has an allotted time period in which you will be able to share it and earn rewards. This information can be found on the dashboard description of the campaign or on the campaign page itself. 
                </p>

                <p class="offset1">
                    <b>Availability</b>- Campaigns may be limited to a certain number of redemptions, making it important for you to spot the best opportunities and participate before somebody else does. This information can be found in the form of “available remaining” on the dashboard description and the campaign page. All rewards are distributed on a first come, first serve basis.
                </p>

                <p class="offset1">
                    <b>Reservation Stipulations</b>- Every story campaign may come with unique instructions set by the brand, pay attention to this information on the far right of the campaign page (The page that features the full description of the story campaign and its reward). For instance, a brand may be providing tickets to a local concert that requires buddees to be 21. In this case, the buddee must be 21 or they cannot redeem this reward as per state law. buddees share under their own risk and brandbuddee is not responsible for lost rewards or those that are not honored by participating brands. If you would like to report a brand for not honoring your reward, please email us at info@brandbuddee.com immediately. 
                </p>

                <p class="offset1">
                    <b>Sharing</b>- This is the single most important concept of brandbuddee.com for you to understand. Sharing story campaigns is the only way you will earn points towards unlocking the reward. To do this hit the green join button on the campaign page. This will activate the campaign and allow you to share on any social network so you may begin earning points from the clicks received. Use the tweet button to post to twitter, the post to facebook button to share on Facebook, the pin it button to post the story campaign to pinterest, the Facebook send button to send a message to individual friends on Facebook, and lastly the custom URL that’ll allow you to post the link anywhere or email it to friends. 
                </p>

                <p>
                    <b>How to be successful earning points.</b> First off, You cannot game clicks as this behavior will get your IP address banned from the site permanently. You may not ask people to click on your link so you can earn more points as this will also get you banned from the site. To encourage higher clicks and ultimately more points you should share story campaigns with people whom will most likely be interested in it or include a catchy 140 character phrase with each of your posts. More people will click on it if you clearly let them know why the story campaign is interesting and if you respect the sanctity of your relationships with your friends. brandbuddee is a content and story referral system meant to add value to the people in your network. Think twice about posting something you don’t think your audience would be interested in. If you make a good practice of sharing relevant stories from brands you’re interested in, you’ll receive many more clicks and your friends will appreciate the stories you’re sharing with them. In many cases, brandbuddee rewards will offer you experiences that you can share with your friends. Are you into fashion? Perhaps you might like to share a local fashion show that your friends would be interested in, thus allowing you the opportunity to earn free tickets to it for you and two friends. Don’t see anything that interests you on brandbuddee? Tell your favorite brands and businesses to get on here so you can start following their stories and sharing to earn rewards exclusively from them. After you’ve shared a campaign it will move into a pending state until you unlock it. Please continue on to the section below…
                </p>
            </span> <!-- .support_help_sections -->

            <span class="support_help_sections">
                <legend>Your Rewards</legend>
                <p>This section can be found by clicking on the “your rewards” link on the upper left of the page under “earn rewards”. Any campaign that you share will appear in the “your rewards” page until that reward is earned or the campaign ends. From here you have the opportunity to share a campaign again to continue earning points towards the reward. Keep track of the timing and availability of rewards, you won’t want to be caught sleeping when something you wanted expires!</p>
            </span> <!-- .support_help_sections -->

            <span class="support_help_sections">
                <legend>Redeem</legend>
                <p>You’ve done it! You have successfully earned a brandbuddee reward, in fact you can be earning many rewards simultaneously. Pretty cool huh? After you’ve earned the minimum amount of points required, you will receive an email and a unique redemption code will appear on the Redeem page. Once a reward is used with a participating brand, it will disappear from this page. Until then, you may visit the redeem page or check your email for the unique code at any time to be able to use it with the participating brand. This code will ensure that the brand can identify you as a brandbuddee and properly reward you for being one of their top buddees. Pay close attention to the reservation stipulations on the campaign page and in the description of the story campaign as there may be limiting factors for redeeming the reward. For instance, some brands may require that you use a reward within an allotted time period. You are responsible for reading and understanding these conditions prior to redeeming your reward. Follow the redemption instructions and you’ll be golden!</p>
            </span> <!-- .support_help_sections -->

            <span class="support_help_sections">
                <legend>Share brandbuddee with your friends!</legend>
                <p>Now that you’ve got the gist of brandbuddee, it’s time to share brandbuddee with your friends! Why? Because it’s more fun to earn rewards with your friends and they’ll appreciate the opportunity. Next time you want to see your favorite music artist, you and your friends could all be sitting front row complimentary of brandbuddee.com.</p>

                <p>This is brandbuddee- Discover, Share, and Earn Rewards from your favorite brands</p>
                <br><br>
            </span> <!-- .support_help_sections -->



</p>
                


            <%= render "shared/new_footer" %>

        </div>
    </div>
</div>