<%#= render 'shared/header' %>

<div class="splashLeft">
	<div class="splashLeftBg">
		left<br>
		whhat<br>
		<br><br><br><br>
	</div> <!-- .splashLeftBg -->
</div> <!-- .splashLeft -->

<div class="splashRight">
	right
</div> <!-- splashRight -->

	<%#= image_tag('bb-logo.png', :class=>"welcome-logo", :size=>"", :alt=>"brandbuddee") %>