  <%= render 'shared/header' %>

  <!-- Content
  ================================================== -->
  <div id="content" class="container">
  </div>

  <!-- Carousel --> 
  <div id="carousel" class="carousel slide" rel="carousel">
    <!-- Carousel items -->       
    <div class="carousel-inner">
      <div class="active item">
        <h1 class="alt"><!-- Discover, Share, & Earn Rewards --></h1>
        <img src="/assets/home_bg.jpg" />
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row" style="margin-bottom:20px;">
      <div class="span4 splash_features">
        <span class="grey"><i class="icon-search splash_feature_icons"></i></span>
        <h2><!-- <span class="grey">Discover</span> --> Discover</h2>
         <p>Discover your favorite brands, exclusive stories, and become their buddee.</p>
        <!-- <p><a class="" href="#">Read more &raquo;</a></p> -->
      </div>
      <div class="span4 splash_features">
        <span class="grey"><i class="icon-upload splash_feature_icons"></i></span>
        <h2>Share</h2>
         <p>Support the brands that you already love and share them with your friends.</p>
        <!-- <p><a class="" href="#">Read more &raquo;</a></p> -->
      </div>
      <div class="span4 splash_features">
        <span class="grey"><i class="icon-gift splash_feature_icons"></i></span>
        <h2>Earn Rewards</h2>
        <p>Be the first to know. Earn amazing rewards just for sharing! Simple as that.</p>
        <!-- <p><a class="" href="#">Read more &raquo;</a></p> -->
      </div>
    </div> <!-- .row -->

  </div> <!-- .container -->

  <br>


  <%= render 'shared/footer' %>
  


  <script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
  <script type="text/javascript" src="/js/jquery.touchSwipe.js"></script>
  <script type="text/javascript" src="/js/jquery.hotkeys.min.js"></script>
  <script type="text/javascript" src="/js/functions.min.js?v=2"></script>










  