<% content_for :google_fonts_tag do %>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,300italic,400italic' rel='stylesheet' type='text/css'>
<% end %>
<% content_for :body_background do %>
class="landing-page-background"
<% end %>
<%= render 'shared/header' %>
<div class="container" id="home-page-container">
  <% flash.each do |name, msg| %>
    <div class="row" style="margin-top:4%;">
      <div class="span6 offset3">
        <div class="alert alert-<%= name %> fade in">
          <a title="sweepstakes contests giveaways brandbuddee" href="#" class="close" data-dismiss="alert">&times;</a>
          <%= msg.html_safe %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row" style="margin-top:5%; margin-bottom: 5%;">
    <div class="span5">
      <ul class="thumbnails"> <!-- thumbnails -->
        <li class="span5 home-thumblock" id="thumb-brand">
          <div class="thumbnail">
            <div class="thumb-head">
              <img src="/assets/thumb-banner-brand3.png" alt="sweepstakes-contests-giveaways-brandbuddee" title="sweepstakes contests giveaways brandbuddee">
            </div>
            <div class="thumb-content">
              <p class="text-left">
                  Promote your business online, get the results you want.
                  <!-- <img src="/assets/arrow.png" width=80 alt="" title=""> --> 
              </p>
              <p>  
                <strong>Do you want:</strong>  
              </p>
              <div class="list-block">
                    <ul>
                      <li>Guaranteed results that you choose</li>
                      <li>Access to influencers to promote your business</li>
                      <li>Thousands of customers</li>
                      <li>Increased website traffic</li>
                      <li>5 star Yelp reviews</li>
                      <li>Increased Facebook likes</li>
                      <li>To reach millions of people</li>
                      <li>Quantifiable ROI and simple customized campaigns</li>
                      <li>To save time on social media</li>
                      <li>Blogs written</li>
                      <li>Increased Twitter Follows</li>
                      <li>24/7 Analytics</li>
                    </ul>
              </div><!-- /list-block -->
              <div class="learnmore-block">
                <p class="pull-right learn-more">
                  <a href="/brands" title="sweepstakes contests giveaways brandbuddee" class="btn btn-ultraviolet-rays-1"><strong>Learn more!</strong></a>
                </p>
              </div><!-- /learnmore-block -->
            </div><!-- /thumb-content -->
            <div class="thumb-button">
                <p>
                  <a href="/brands/signup" title="sweepstakes contests giveaways brandbuddee" class="btn btn-large btn-ultraviolet-rays-1">
                    <i class="icon-bar-chart"></i> <strong>Join to get results today!</strong>
                  </a>
                  <a href="/brands/login" title="sweepstakes contests giveaways brandbuddee" class="btn btn-large btn-ultraviolet-rays-1" style="margin-top: 2.5%;">
                    <i class="icon-signin"></i> <strong>I already have an account</strong>
                  </a>
                </p>
            </div><!-- /thumb-button -->
          </div><!-- /.thumbnail -->
        </li>
      </ul> <!-- /thumbnails -->
    </div><!-- /span5 -->

    <div class="span2" id="or-logo">
      <p>
        <img src="/assets/bb-or-v2.png" alt="sweepstakes-contests-giveaways-brandbuddee" title="sweepstakes contests giveaways brandbuddee">
      </p>
    </div>

    <div class="span5">
      <ul class="thumbnails"> <!-- thumbnails -->
        <li class="span5 home-thumblock" id="thumb-buddee">
          <div class="thumbnail">
            <div class="thumb-head">
              <img src="/assets/thumb-banner-buddee3.png" alt="sweepstakes-contests-giveaways-brandbuddee" title="sweepstakes contests giveaways brandbuddee">
            </div>
            <div class="thumb-content">
              <p class="text-left">
                Win cool prizes from your favorite brands.
                <!-- Win cool prizes from your favorite brands. -->
                <!-- <img src="/assets/arrow.png" width=80 alt="" title=""> --> 
              </p>
              <p>  
                <strong>Do you want to:</strong>  
              </p>
              <div class="list-block">
                    <ul>
                      <li>Win cool prizes and rewards instantly</li>
                      <li>Find cool products and businesses in your area</li>
                      <li>Discover exclusive giveaways</li>
                      <li>Connect with the brands you love</li>
                      <li>Enter sweepstakes</li>
                      <li>Win contests</li>
                      <li>Enter raffles</li>
                      <li>Receive gifts and special promotions</li>
                      <li>Get a simple prize redemption process</li>
                    </ul>
              </div> <!-- list-block -->
              <div class="learnmore-block">
                    <p class="pull-right learn-more">
                      <a href="/tell-me-more" title="sweepstakes contests giveaways brandbuddee" class="btn btn-blackcurrent-birds-1"><strong>Learn more!</strong></a>
                    </p>
              </div> <!-- learnmore-block -->
            </div> <!-- /thumb-content -->
            <div class="thumb-button">
                <p>
                  <a href="/signup" title="sweepstakes contests giveaways brandbuddee" class="btn btn-large btn-blackcurrent-birds-1">
                    <i class="icon-trophy"></i> <strong>Join & start winning instantly!</strong>
                  </a>
                  <a href="/login" title="sweepstakes contests giveaways brandbuddee" class="btn btn-large btn-blackcurrent-birds-1" style="margin-top: 2.5%; ">
                    <i class="icon-signin"></i> <strong>I already have an account</strong>
                  </a>
                </p>
            </div> <!-- /thumb-button -->
          </div>
        </li>
      </ul> <!-- /thumbnails -->
    </div><!-- /span5 -->
  </div><!-- /row -->

  <div class="row" style="margin-top:5%; margin-bottom: 5%;">
    <div class="span12">
      <div style="text-align:center;margin-bottom:-5%;"><i class="icon-lightbulb" style="font-size:1.5em;color:#A3BB62;"></i>&nbsp;&nbsp;&nbsp;<b style="font-size:1.75em;font-weight:500;letter-spacing:0;">A <span style="color:#73AFCD;">fast & simple</span> way for brands to engage millions of people and a fun way for</b></div>
      <div class="divisor divisor_services">
        <div class="circle_left"></div>
        <div class="circle_right"></div>
      </div>
      <div style="text-align:center;margin-top:-5%;"><b style="font-size:1.75em;font-weight:500;letter-spacing:0;">fans to earn cool prizes in <span style="color:#73AFCD;">just minutes!&nbsp;&nbsp;&nbsp;</span></b><i class="icon-lightbulb" style="color:#A3BB62;font-size:1.5em;"></i></b></div>
    </div><!-- /.span12 -->
  </div><!-- second row -->
</div><!-- /container -->

<%= render 'shared/footer' %>



<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/js/jquery.touchSwipe.js"></script>
<script type="text/javascript" src="/js/jquery.hotkeys.min.js"></script>
<script type="text/javascript" src="/js/functions.min.js?v=2"></script>