<%= render 'shared/header' %>

<div class="container main_container" style="padding-left:0;margin-top:20px;margin-bottom:20%;">
	<div class="row">
		<div class="span6 offset3">
			<div class="well well-large">
				<h3 class="text-center" style="line-height:125%; margin-bottom:2%;">Your email, <%= @subscriber.email %>, has been<br><span class="bb-green" style="font-size:1.75em;">unsubscribed!</span></h3>
			</div>
		</div>
	</div>
</div><!--/.container-->

<%= render 'shared/footer' %>