// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hidden {
	display: none;
}

.statCircles {
	margin-top: 66px !important;
}

.statPercent {
	font-size: 12px;
	margin-left: 3px;
	position: relative;
	bottom: 5px;
}

.statAdd {
	font-size: 15px;
	margin-right: 5px;
	position: relative;
	bottom: 4px;
	font-weight: 300;
}

.statCircles {
	width: 100px !important;
	position: absolute;
	margin-top: 42.857142857142854px;
	margin-left: -110px !important;
	font-size: 30px;
	border: none;
	background-image: none;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	color: #2FABE9;
	padding: 2px 0px 0px;
	-webkit-appearance: none;
	background-position: initial initial;
	background-repeat: initial initial;
}




