/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

* {
	margin: 0;
	padding: 0;
}

.clear { clear: both; }

html, body {
	height: 100% !important;
	width: 100% !important;
}

body {
	background: rgba(0,0,0,0.1) !important;
}

.new_logo_header {
	display: block;
	position: absolute;
	top: 28px;
	background: url('/assets/brandbuddee-logo.png') no-repeat;
	background-size: 223px 37px;
	width: 223px;
	height: 37px;
}

.logo_header {
	display: block;
	position: relative;
	top: 1px;
	background: url('/assets/brandbuddee-logo-sm.png') no-repeat;
	background-size: 108px 20px;
	width: 108px;
	height: 20px;
}

.main_container {
	display: block;
	position: relative;
	//margin: 60px 0;
}

.pts_req {
	margin-right: 2px;
}

.footer_style {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	font-size: 12px;
	padding: 50px 0;
	background: rgba(0,0,0,0.9);
	color: rgba(255,255,255,0.3);
}

.footer_style li {
	float: left;
	list-style: none;
	margin-left: 20px;
}

.date_times {
	display: none;
}

.profile_header_bttn {
	margin-right: 10px !important;
}