/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

* {
	margin: 0;
	padding: 0;
}

.clear { clear: both; }

body {
	
}

.logo_header {
	display: block;
	position: relative;
	top: 1px;
	background: url('/assets/brandbuddee-logo-sm.png') no-repeat;
	background-size: 108px 20px;
	width: 108px;
	height: 20px;
}

.main_container {
	display: block;
	position: relative;
	margin: 50px 0;
}