// Place all the styles related to the campaign controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.redeem_code {
	display: none;
}

.campaign_image {
	display: block;
	width: 100%;
}

.campaign_image_wrap {
	display: block;
	height: 300px;
	overflow: hidden;
}

.campaign-twitter-share {
	display: block;
	width: auto !important;
	margin-top: 9px !important;
}

.campaign-facebook-share {
	display: block;
	width: 125px;
	padding-top: 2px;
	height: 26px;
}

.campaign-pinterest-share {
	display: block;
	width: auto !important;
	margin-top: 8px;
}

#campaign-share {
	display: block;
	position: relative;
	top: 0;
	//right: -75px;
	margin: 0 auto;
	height: auto;
}

.sharing-campaign {
	float: left;
	position: relative;
	//width: auto;
	margin: 0 auto;
	margin-top: 8px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.campaign_profile_title_wrap {
	display: block;
	height: 40px;
}

.campaign_profile_reward_wrap {
	display: block;
	height: 40px;
}

.text-highlight-large {
	font-size: 17px;
}