// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-image {
	margin: 0 auto;
	width: 125px;
	display: block;
}

.profile-side-header {
	text-align: center;
}

.profile_campaign_thumbnails {
	height: 300px !important;
}

.profile_campaign_link:hover {
	text-decoration: none;
}