// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-image {
	margin: 0 auto;
	width: 125px;
	display: block;
}

.profile-side-header {
	text-align: center;
	background: rgba(255,255,255,0.6);
	width: auto;
	padding-top: 15px;
}

.profile_campaign_thumbnails {
	height: 300px !important;
}

.profile_campaign_link:hover {
	text-decoration: none;
}

.profile_main_box h2 {
}

.profile_main_box p {
	background: rgba(255,255,255,0.6);
	padding: 10px 15px;
}

.profile_city {
	font-size: 13px;
	font-weight: 500;
	padding: 0;
	margin: 0;
	padding-top: -10px;
	display: block;
	margin-top: -14px;
}