// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-image {
	margin: 0 auto;
	width: 125px;
	display: block;
}

.follow-images {
	display: block;
	position: relative;
	height: 45px !important;
	width: 45px !important;
	float: left;
	margin: 5px 0 !important;
	margin-left: 10px !important;
}

.profile-side-header {
	text-align: center;
	background: rgba(255,255,255,0.6);
	width: auto;
	padding-top: 15px;
}

.profile_campaign_thumbnails {
	height: 300px !important;
}

.profile_campaign_link:hover {
	text-decoration: none;
}

.profile_main_box h2 {
}

.profile_main_box p {
	background: rgba(255,255,255,0.6);
	padding: 10px 15px;
}

.profile_city {
	font-size: 13px;
	font-weight: 500;
	padding: 0;
	margin: 0;
	padding-top: -10px;
	display: block;
	margin-top: -5px;
	margin-bottom: 0;
	line-height: 20px;
}

.profile_follow_wrap a {
	color: #000;
	text-decoration: none !important;
}

.profile_follow_wrap:hover {
	text-decoration: underline;
}

.profile_follow_wrap:visited {
	text-decoration: underline;
}

.follow-btn {
	margin-top: 7px;
	margin-bottom: 15px;
}

.follower_nickname {
	margin-left: 10px;
	margin-top: 0;
	padding-top: 0;
	line-height: 36px;
	font-size: 15px;
}

.followers_follow_btn {
	margin-top: 3px;
}

.caption a {
	color: #444;
}

.caption a:hover {
	color: #777;
}