// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-nav {
	//display: block;
	//position: fixed;
	height: 100%;
	//width: 300px;
	//margin-top: -12px;
	//background: rgba(0,0,0,0.9);
}

.complete_email {
	display: block;
	margin: 0 auto;
	float: none;
	position: relative;
	top: 55px;
	left: 0;
	right: 0;
}

.help-inline {
	display: inline-block;
	vertical-align: middle;
	//margin-left: 19px;
	font-size: 17px;
}

.campaign_details {
	float: right;
	//color: #999;
}

.pts_req_text {
	font-size: 12px;
}

.pts_req_wrap {
	margin-right: 8px;
}

.dashboard_campaign_details_wrap {
	//display: block;
	//position: relative !important;
	//margin-top: 40px !important;
	//right: 0 !important;
	//bottom: 0 !important;
}

.campaign_reward_wrap {
	display: block;
	height: 40px;
}