// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-nav {
	//display: block;
	//position: fixed;
	height: 100%;
	//width: 300px;
	//margin-top: -12px;
	//background: rgba(0,0,0,0.9);
}

.complete_email {
	display: block;
	margin: 0 auto;
	float: none;
	position: relative;
	top: 55px;
	left: 0;
	right: 0;
}