// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// vraiables
// @bb-blue: #7EC1E1;
// @bb-green: #C7E478;



.welcome-logo {
	display: block;
	position: absolute;
	top: 37%;
	left: 0;
	right: 0;
	width: 500px;
	margin: 0 auto;
}

.splashLeft {
	float: left;
	height: 100%;
	width: 50%;
	color: #FFF;
	text-align: right;
}

.splashLeftBg {
	position: fixed;
	width: 50%;
	height: 100%;
	background: rgba(0,0,0,0.9);
}

.splashRight {
	float: right;
	min-height: 100%;
	width: 50%;
	background: #FFF url('/assets/splash_bg.png') repeat;
}

.splash_logo {
	display: block;
	position: relative;
	top: -8px;
}

.splash_wrap {
	display: block;
	position: absolute;
	top: 35%;
	left: 0;
	right: 0;
	width: 950px;
	margin: 0 auto;
}

.splashLoginWrap {
	display: block;
	position: absolute;
	margin-left: 65px;
	width: 450px;
}

.splashLogin {
	float: right;
	margin-top: 23px;
	margin-right: 7px;
}

.splashMessage {
	display: block;
	position: absolute;
	top: 33%;
	margin-left: 65px;
	width: 450px;
}

.splashMessage h2 {
	line-height: 25px;
	color: rgba(0,0,0,0.7);
	font-weight: 400;
	font-size: 20px;
}

.splashMessage h4 {
	color: rgba(0,0,0,0.7);
}

.beta_form {
	margin-top: 15px;
}

input.input-large {
    padding: 8px 12px;
}

div.gradient {
    background: url(../img/gradient.png) no-repeat top center;
    min-height: 770px;
}

div.content {
    text-align: center;
    margin-top: 1.5em;
}

a.sb.gplus,
.sb a.gplus {
	background-image: url(../img/social-buttons/gplus.png);
}

.splashFooter {
	display: block;
	position: absolute;
	margin-left: 20px;
	bottom: 7px;
	font-size: 11px;
	color: rgba(0,0,0,0.3);
}

.splashFooter span {
	margin: 0 5px;	
}

.subscribe_container {
	display: none;
	position: relative;
	top: 225px;
	left: 0;
	right: 0;
	width: 380px;
	//margin: 0 auto;
}

.subscribe_wrap {
	position: relative;
	//width: 333px;
	//margin: 0 auto;
	margin-top:75px;
}

#share_box {
	position: relative;
	right: -75px;
	color: #000;
}

#share_message {
	padding: 0;
}

.sharing {
	float: left;
	position: relative;
	width: auto;
	margin: 0 auto;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.twitter-share {
	display: block;
	width: 51px;
	margin-top: 8px;
}

.facebook-share {
	display: block;
	width: 125px;
	padding-top: 2px;
	height: 26px;
}

#share {
	display: none;
	position: relative;
	top: 61px;
	//margin: 0 auto;
	height: auto;
	width: 475px;
}

#share h4 {
	padding: 0 !important;
	font-size: 19px !important;
}

#share h5 {
	padding: 0 !important;
	line-height: 15px !important;
	color: rgba(0,0,0,0.7);
}

#flash_notice {
	font-size: 11px;
	margin-top: 7px;
	width: 81px;
	//padding: 3px 13px;
}

#flash_notice_email {
	font-size: 11px;
	padding: 3px 13px;
	text-align: center;
	width: 371px;
	margin: 0 auto;
	margin-top: -10px;
	margin-bottom: 15px;
}

.social_link {
	display: block;
	float: left;
	width: 230px;
	height: 44px;
	//margin: 0 auto;
}

.email-signup {
	display: block;
	margin-top: 5px;
	width: 400px;
	margin: 0 auto;
} 

.social_logins {
	display: block;
	margin: 0 auto;
	width: 464px;
}

.login_wrap h3 {
	font-size: 23px;
	font-weight: 500;
	color: rgba(0,0,0,0.7);
}

.support_help_sections {
	display: block;
	margin-bottom: 25px;
}

.message {
	position: relative;
	top: -10px;
}

.pricing_table {
	height: 460px;
}
.ac {
	display: block;
	position: relative;
	bottom: 0;
}

.testimonial {
	font-size: 18px;
	font-style: italic;
	line-height: 30px;
}
.text-glow {
	webkit-stroke-width: 5.3px;
   -webkit-stroke-color: #FFFFFF;
   -webkit-fill-color: #FFFFFF;
   text-shadow: 1px 0px 20px #FFF;
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */
}
.text-glow-dark {
	font-weight: 700 !important;
}
.center-me {
	text-align: center;
}
.bb-blue {
	color: #7EC1E1;
}
.bb-green {
	color: #C7E478;
}

// HOME page new
body.landing-page-background {
	background: url(/assets/landingpagebg.png);
}
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	body.landing-page-background {
		background: url(/assets/landingpagebg2x.png);
	}
}
div#home-page-container {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
}
.thumb-title {
	text-align:center;
}
.home-thumblock {
	background: url(/assets/headerbg-new.png);
	border-radius: 3px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.home-thumblock:after {
	content: "";
	// background: url(/assets/headerbg-new.png);
	opacity: 0.88;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}
#thumb-brand {
	border: solid 5px #7EC1E1;

}
#thumb-buddee {
	border: solid 5px #C7E478;

}
.well-small {
	margin: 0 0 30px; 
}
.thumb-head {
	margin: 10px 0;
	text-align: center;
	img {
		border-radius: 2px;
	}
}
.thumb-content {
	overflow: hidden;
	margin: 10px 10px 0;
	padding: 15px;
	color: white;
	font-size: 12pt;
	// background: rgba(244,247,247,0.6);
	border-radius: 2px;
	div.list-block {
		margin: 5px 0;
	  	padding-top: 5px;
	  	border-top: solid 1px white;
	}
	div.learnmore-block {
	  	border-bottom: solid 1px white;
	  	padding: 10px 0;
	  	overflow: hidden;
	}
	.text-left {
	  	vertical-align: top;
	}
	.learn-more a {
	  	color: white;
	}
}
.thumb-button {
	margin: 10px 0;
	text-align: center;
	a.btn {
		width: 82%;
		i {
			font-size: 1.25em;
			line-height: 30%;
		}
	}
}
#or-logo {
	text-align: center;
	margin-top: 10%;
}
.thumb-content strong, .thumb-button strong {
	font-weight: 500;
}


.home-page-text {
	font-size:30px;
	margin-left:10%;
	padding-bottom:1.5%;
}
.home-page-text span {
	font-weight:bold;
}
// HOME PAGE BOTTOM ABOVE FOOTER GREY AREA
.home-page-bottom {
	border-top: 2px solid #a4a4a4;
	background-color: #D8D8D8;
	// height: 200px;
	min-height: 200px; // important
	margin-top:-4%;
	.left {
		border-right: #A4A4A4;
		border-right-style:solid;
		float: left;
		width: 50%;
		// height: 200px;
		min-height: 200px; // important
	}
	.right {
		width: 50%;
		// height: 200px;
		min-height: 200px; // important
	}
	h1 {
		padding-top: 20px;
	}
	p {
		font-size: 25px;
		color: #848484;
		margin-left: 10px;
		margin-bottom: 0; // important
	}
}
// END HOME PAGE BOTTOM ABOVE FOOTER GREY AREA
.home-carousel-shadow {
	position: relative;
  	margin-left: auto;
  	margin-right: auto;
  	-moz-user-select: none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
  	-o-user-select: none;
  	background: url(/assets/slider-shadow225.png) no-repeat;
  	height: 30px;
  	bottom:20px;
  	left:120px;
  	z-index:-1;
}
.pricing_table, .most-popular {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.pricing_table, .most-popular {
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}
.pricing_table:hover, .most-popular:hover {
	-webkit-transform: translate(0,-10px);
	-moz-transform: translate(0,-10px);
	-o-transform: translate(0,-10px);
	-ms-transform: translate(0,-10px);
	transform: translate(0,-10px);
}
.home-carousel-ribbon {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	background: url(/assets/home-slider-ribbon.png) no-repeat;
	height: 111px;
	bottom: 435px;
	left: 77px;
}
.select-share-enjoy {
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	-ms-transition-duration: 0.7s;
	transition-duration: 0.7s;
	position:relative;
	top: 0;
	border-bottom: 4px solid #fff;
}

// /tell-me-more page testimonials slider
.comments {
	background-color: #fff;
	padding: 80px 0 30px 0;
}
.comments ul {
	list-style: none;
	margin: 0;
	position: relative;
}
.comments ul li {
	position: relative;
}
.comments .image {
	width: 160px;
	margin: 0 auto;
	height: 150px;
	border-radius: 50%;
	background: #000;
	position: relative;
	overflow: hidden;
	border: 5px solid #7EC1E1;
}
// .arrow_coment {
// 	background: url("/assets/learn-more-arrow.png") no-repeat center;
// 	width: 100%;
// 	height: 17px;
// 	position: absolute;	
// 	bottom:28.1%;
// }
.name {
	border-top: 5px solid #43402f;
	border-bottom: 5px solid #43402f;
	padding: 20px 0;
	width: 42%;
	position: absolute;
	left: 0;	
	text-align: right;
}
.comments h3 {
	padding: 0;
	color: #222;
	font-weight: 700;
	line-height: 30px;
	margin: 0;
	font-family: 'OpenSansBold', Arial, sans-serif;
	font-size: 24px;
}
.job {
	border-top: 5px solid #43402f;
	border-bottom: 5px solid #43402f;
	padding: 20px 0;
	width: 42%;
	position: absolute;
	right: 0;	
	text-align: left;
}
.comments p {
	margin: 0 auto;
	width: 70%;
	text-align: center;
	margin-top: 25px;
	padding: 0;
	font-weight: 300;
	line-height: 28px;
	font-size: 16px;
	color: #41413e;
}
// END /tell-me-more page testimonials slider

// /tell-me-more Still Unsure? Keep Reading! Sign
.headline {
	background: url(/assets/tell-me-more-still-unsure-line.png) 0px 11px repeat-x;
	display: block;
	margin: auto;
	max-width: 700px;
	margin-right:9%;
}
.headline h4 {
	background: #C7E478;
	display: inline;
	padding: 15px 40px;
	color: #fff;
	border-radius: 24px;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	box-shadow: 1px 1px 1px #999;
	-moz-box-shadow: 1px 1px 1px #999;
	-webkit-box-shadow: 1px 1px 1px #999;
	font-size: 21.5px;
}
// END /tell-me-more Still Unsure? Keep Reading! Sign

// /tell-me-more It's ok to share, our mission, & how you and the brand win circles
.ch-grid {
margin: 0px 0 0 0;
padding: 0;
list-style: none;
display: block;
text-align: center;
width: 100%;
&:after {
	content: '';
	display: table;
	clear: both;
}
}
.ch-grid li {
width: 270px;
height: 270px;
display: inline-block;
margin: 5px;
}
.ch-item {
width: 100%;
height: 100%;
border-radius: 50%;
position: relative;
cursor: default;
-webkit-perspective: 900px;
-moz-perspective: 900px;
-o-perspective: 900px;
-ms-perspective: 900px;
perspective: 900px;
}
.ch-info {
position: absolute;
width: 100%;
height: 100%;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
}
.ch-info > div {
display: block;
position: absolute;
width: 100%;
height: 100%;
border-radius: 50%;
background-position: center center;
-webkit-transition: all 0.4s linear;
-moz-transition: all 0.4s linear;
-o-transition: all 0.4s linear;
-ms-transition: all 0.4s linear;
transition: all 0.4s linear;
-webkit-transform-origin: 50% 0%;
-moz-transform-origin: 50% 0%;
-o-transform-origin: 50% 0%;
-ms-transform-origin: 50% 0%;
transform-origin: 50% 0%;
}
.ch-info .ch-info-front {
box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);
}
.ch-info .ch-info-back {
-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
background: #000;
opacity: 0;
}
.ch-img-1 {
background:#f2f2e8 url(/assets/learn-more-icon4.png) no-repeat;
}
.ch-img-2 {
background:#f2f2e8 url(/assets/learn-more-icon5.png) no-repeat;
}
.ch-img-3 {
background:#f2f2e8 url(/assets/learn-more-icon6.png) no-repeat;
}
.ch-info h3 {
color: #fff;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 24px;
margin: 0 20px;
padding: 30px 0 0 0;
height: 110px;
font-family: 'Open Sans', Arial, sans-serif;
text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
border-bottom: 1px solid rgba(255,255,255,0.5);
}
.ch-info p {
color: #fff;
padding: 10px 5px;
font-style: italic;
margin: 0 30px;
font-size: 16px;
line-height: 23px;
}
.ch-info p a {
display: block;
color: #fff;
color: rgba(255,255,255,0.7);
font-style: normal;
font-weight: 700;
text-transform: uppercase;
font-size: 18px;
letter-spacing: 1px;
padding-top: 25px;
text-decoration: none;
}
.ch-info p a:hover {
	color: #fff222;
	color: rgba(239,65,53, 0.8);
}

.ch-item:hover .ch-info-front {
	-webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}

.ch-item:hover .ch-info-back {
	-webkit-transform: rotate3d(1,0,0,0deg);
	-moz-transform: rotate3d(1,0,0,0deg);
	-o-transform: rotate3d(1,0,0,0deg);
	-ms-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}
// END /tell-me-more It's ok to share, our mission, & how you and the brand win circles

// /tell-me-more divider with dots on ends
.divisor_services {
	margin: 0;
}
.divisor {
	position: relative;
	width: 100%;
	height: 1px;
	margin: 50px 0 50px 0;
	background-color: #cdcdcd;
}
.circle_right {
	position: absolute;
	right: 0;
	top: -5px;
	width: 10px;
	height: 10px;
	background-color: #000;
	border-radius: 50%;
}
.circle_left {
	position: absolute;
	left: 0;
	top: -5px;
	width: 10px;
	height: 10px;
	background-color: #000;
	border-radius: 50%;
}
// END /tell-me-more divider with dots on ends
@media (max-width: 979px) {
	.home-carousel-ribbon, .home-carousel-shadow {
		display:none;
	}
	.home-page-bottom {
		margin-top:0;
	}
}
@media (max-width: 767px) {
	.home-page-bottom {
		margin-top:5%;
	}
}

// BRANDS PAGE
.ch-brand-img-1 {
background:#fff url(/assets/brand-gauranteed.png) no-repeat;
}
.ch-brand-img-2 {
background:#fff url(/assets/brand-graph.png) no-repeat;
}
.ch-brand-img-3 {
background:#fff url(/assets/brand-cogs.png) no-repeat;
}
.ch-brand-img-none {
	background: none;
}
.pricing-plans-signup {
	color: white;
	border: 2px solid white;
	font-size: 19px;
	padding-left: 3%;
	padding-right: 3%;
	font-weight: bold;
	padding-bottom: 1%;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.pricing-plans-signup:hover {
	background:white;
	color:black;
}
.pricing-plans-features {
	color:white;
	font-size:16px;
	padding-bottom:1%;
}
.brand-features-modal-text {
	font-size:1.5em;
	line-height:120%;
}
a.brand-sign-up-link {
	color:white;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	&:hover {
		color:#5f89d5;
	}
}
@media (min-width: 768px) {
	.responsive-center-btn {
		text-align:center;
	}
	.responsive-right-btn {
		float: right;
	}
}
.white-bg {
	background: #FFF url('/assets/wellback.png');
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	-moz-box-shadow: 0px 1px 3px rgba(147,167,183, 0.60);
	-webkit-box-shadow: 0px 1px 3px rgba(147,167,183, 0.60);
	box-shadow: 0px 1px 3px rgba(147,167,183, 0.60);
	margin-bottom: 60px;
	position: relative;
}
.icon_testimonial_left {
	position: absolute;
	top: -20px;
	left: -26px;
}
.icon_testimonial_right {
	position: absolute;
	bottom: -20px;
	right: -26px;
}
#testimonial p {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 1.75em;
	line-height: 29px;
	color: #666;
	text-align: center;
}
#testimonial div.testimonial-logo {
	text-align: center;
	img {
		max-height: 7%;
		max-width: 100%;
	}
}
// END BRANDS PAGE
