// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.welcome-logo {
	display: block;
	position: absolute;
	top: 37%;
	left: 0;
	right: 0;
	width: 500px;
	margin: 0 auto;
}