var list_unfollow = '<%= escape_javascript(@div) %>';
var following_total = $('#following_total').html();
var following_update = parseInt(following_total) + 1

$('#following_total').html(following_update);
$('.<%= escape_javascript(@div) %>').find('.follow_btn_wrap').html('<a href="/ailsa/unfollow/update" class="btn pull-right followers_follow_btn" data-remote="true" title="sweepstakes contests giveaways brandbuddee">Unfollow</a>');
