<!DOCTYPE html>
<html>
	<head>
	  <title>brandbuddee</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <link href="/css/style.min.css?update=1" rel="stylesheet">
	  <link href="/css/font-awesome/font-awesome.css" rel="stylesheet">
	  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
	  <%= javascript_include_tag "application" %>
	  <link rel="icon" type="image/png" href="/assets/favicon.png">
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="description" content="The number one social media loyalty rewards platform where fans earn points towards rewards sharing their favorite brands and completing fun tasks.">
	  <meta name="author" content="brandbuddee.com">
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <meta property="fb:admins" content="100000141053621" /> 
	  <meta property="og:title" content="brandbuddee" /> 
	  <meta property="og:type" content="website" /> 
	  <meta property="og:image" content="http://brandbuddee.com/assets/brandbuddee-logo-sm.png" /> 
	  <meta property="og:url" content="http://brandbuddee.com/" /> 
	  <meta property="og:site_name" content="brandbuddee" /> 
	  <meta property="og:description" content="The number one social media loyalty rewards platform where fans earn points towards rewards sharing their favorite brands and completing fun tasks." />
	 	<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-41362801-1']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>

	<body>

		<%= yield %>

	</body>
	
	
</html>