<!DOCTYPE html>
<html>
	<head>
	  <title>brandbuddee</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <link href="/css/style.min.css?update=1" rel="stylesheet">
	  <link href="/css/font-awesome/font-awesome.css" rel="stylesheet">
	  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
	  <%= javascript_include_tag "application" %>
	  <link rel="icon" type="image/png" href="/assets/favicon.png">
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	 	<script>
	 		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	 		ga('create', 'UA-41362801-1', 'brandbuddee.com');
	 		ga('send', 'pageview');

	 	</script>
	</head>

	<body>

		<%= yield %>

	</body>
	
	
</html>