<!DOCTYPE html>
<html>
<head>
	<title>brandbuddee</title>
	<meta name="description" content="Earn rewards for sharing brands' stories on your favorite social networks like Facebook, Twitter, Pinterest, and Tumblr.">
	<meta name="author" content="brandbuddee.com">
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag "application", :media => "all" %>
	<link rel="stylesheet" type="text/css" href="/css/brands/embed_widget_overrides.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="icon" type="image/png" href="/assets/favicon.png">
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-41362801-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
	<div id="fb-root"></div>
	<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId      : <% if Rails.env.development? %>'253857021420655'<% elsif Rails.env.production? %>'278238152312772'<% end %>,
			channelUrl : '//www.applecrateseo.com/facebooksample/channel.php',
			status     : true,
			cookie     : true,
			frictionlessRequests : true,
			xfbml      : true
		}); // FB.init()
	  	FB.getLoginStatus(function(response) {
	    	if (response.status === 'connected') {
	      		// var uid = response.authResponse.userID;
	      		// var accessToken = response.authResponse.accessToken;
	      		// FB.api('/me', function(info) {
	        // 		console.log(info);
	      		// });      
	    	} else if (response.status === 'not_authorized') {
	      		var oauth_url = 'https://www.facebook.com/dialog/oauth/';
	      		oauth_url += '?client_id=<% if Rails.env.development? %>253857021420655<% elsif Rails.env.production? %>278238152312772<% end %>'; // Your client id
	      		oauth_url += '&redirect_uri=' + '<% if Rails.env.development? %>http://localhost:3000/<% elsif Rails.env.production? %>http://brandbuddee.com/<% end %>'; // Send them here if they're not logged in
	      		oauth_url += '&scope=email,offline_access,publish_actions,publish_stream,user_birthday,user_about_me,user_location,user_likes,user_education_history,user_website,read_friendlists,user_interests,user_hometown,user_status,manage_pages';
	      		window.top.location = oauth_url;
	    	} else {
	      		window.top.location = 'https://www.facebook.com/index.php';
	    	} // End else
	  	}); // getLoginStatus
	}; // fbAsyncInit
	(function(d, debug){
		var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	  	if (d.getElementById(id)) {return;}
	  	js = d.createElement('script'); js.id = id; js.async = true;
	  	js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
	  	ref.parentNode.insertBefore(js, ref);
	}(document, /*debug*/ false));
	</script>

	<%= yield %>
	<%= javascript_include_tag "application" %>
	<script src="/js/brands/embed_widget_overrides.js" type="text/javascript"></script>
</body>
</html>
